.faq__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 46px;
  text-align: center;
}

.faq__item {
  background-color: #FFF;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 29px 70px;
  position: relative;
  width: inherit;
}

.faq__item:not(:last-child) {
  margin-bottom: 21px;
}

.faq__item:after {
  content: "";
  display: inline-block;
  background-image: url("svg/open-purple.svg");
  background-size: contain;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 21px;
  right: 70px;
  cursor: pointer;
}

.faq__item:nth-child(even) {
  color: #FFFFFF;
  background-color: #440f51;
}

.faq__item:nth-child(even):after {
  content: "";
  display: inline-block;
  background-image: url("svg/open.svg");
  background-size: contain;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 21px;
  right: 70px;
  cursor: pointer;
}

.faq__item:nth-child(even):after {
  background-image: url("svg/open.svg");
  transition: all .3s ease-in-out;
}

.faq__item:nth-child(even):hover::after {
  background-image: url("svg/open.svg");
  transition: all .3s ease-in-out;
}

.faq__item:nth-child(odd):hover::after {
  background-image: url("svg/hover-purple.svg");
  transition: all .3s ease-in-out;
}

.faq__item_active:after {
  background-image: url("svg/close-purple.svg");
  transition: all .3s ease-in-out;
}

.faq__item_active:nth-child(even):after {
  background-image: url("svg/close.svg");
  transition: all .3s ease-in-out;
}

.faq__item_active:nth-child(odd):hover::after {
  background-image: url("svg/hover-purple.svg");
  transition: all .3s ease-in-out;
}

@media (max-width: 1200px) {
  .faq {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .faq__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .faq__item {
    font-size: 20px;
    line-height: 24px;
    padding: 22px 30px;
  }

  .faq__item:not(:last-child) {
    margin-bottom: 18px;
  }

  .faq__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .faq__item:last-child {
    display: none;
  }

  .faq__item:nth-child(even) {
    background-color: #FFF;
    color: #1C1A1A;
  }
  
  .faq__item:nth-child(even):after {
    background-image: url("svg/open-purple.svg");
  }

  .faq__item:after,
  .faq__item:nth-child(even):after {
    top: 11px;
    right: 20px;
  }

  .faq__item:nth-child(even):hover::after {
    background-image: url("svg/hover-purple.svg");
  }
  
  .faq__item:nth-child(even):active::after {
    background-image: url("svg/close-purple.svg");
  }

  .faq__item_active:nth-child(even):after {
    background-image: url("svg/close-purple.svg");
  }

  .faq__item_active:nth-child(even):hover::after {
    background-image: url("svg/hover-purple.svg");
  }
}

@media (max-width: 860px) {
  .faq {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .faq__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .faq__item {
    font-size: 18px;
    line-height: 24px;
    padding: 22px 59px;
  }

  .faq__item:after,
  .faq__item:nth-child(even):after {
    top: 12px;
    right: 65px;
  }
}