.reviews__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 46px;
}

.reviews__block {
  display: flex;
  gap: 21px;
  padding-left: 100px;
}

.reviews__block:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__figure {
  display: flex;
  flex-direction: column;
}

.reviews__gradient {
  position: relative;
  height: 280px;
  width: 280px;
  margin-bottom: 11px;
}

.reviews__gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.reviews__figcaption {
  display: block;
  text-align: center;
}

.reviews__text {
  padding-top: 52px;
  max-width: 680px;
}

@media (max-width: 1200px) {
  .reviews {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .reviews__block {
    gap: 38px;
  }

  .reviews__block:not(:last-child) {
    margin-bottom: 39px;
  }

  .reviews__gradient {
    height: 172px;
    width: 172px;
    margin-bottom: 22px;
  }

  .reviews__figcaption {
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__text {
    padding-top: 33px;
    font-size: 18px;
    line-height: 26px;
    max-width: 515px;
  }
}