.features {
  height: 810px;
}

.features__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 44px;
  white-space: pre-line;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.features__item {
  position: relative;
  height: 228px;
  width: 380px;
  padding-top: 166px;
  padding-left: 40px;
}

.features__item:nth-child(3n+2) {
  transform: translateY(70px);
}

.features__item:hover {
  transform: scale(110%);
  transition: all .3s ease-in-out;
}

.features__item:hover:nth-child(3n+2) {
  transform: scale(110%) translateY(70px);
  transition: all .3s ease-in-out;
}

.features__item_vr {
  background-image: url('img/vr.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item_audio {
  background-image: url('img/audio.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item_microphone {
  background-image: url('img/micro.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item_board-games {
  background-image: url('img/boardgame.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item_video {
  background-image: url('img/video.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item_console {
  background-image: url('img/console.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.features__text {
  font-weight: 700;
  max-width: 300px;
  white-space: pre-line;
}

@media (max-width: 1200px) {
  .features {
    padding-top: 41px;
    height: 613px;
  }

  .features__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .features__list {
    gap: 30px 21px;
  }

  .features__item {
    width: 287px;
    height: 172px;
    padding-top: 114px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .features__item:nth-child(3n+2) {
    transform: translateY(53px);
  }

  .features__item:nth-child(5) {
    padding-top: 82px;
  }
  
  .features__item:hover {
    transform: scale(110%);
    transition: all .3s ease-in-out;
  }
  
  .features__item:hover:nth-child(3n+2) {
    transform: scale(110%) translateY(70px);
    transition: all .3s ease-in-out;
  }

  .features__text {
    max-width: 247px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 860px) {
  .features {
    padding-top: 40px;
    padding-bottom: 30px;
    height: 812px;
  }

  .features__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .features__list {
    gap: 20px;
  }

  .features__item {
    width: 334px;
    height: 200px;
    padding-top: 132px;
    padding-left: 30px;
    padding-bottom: 12px;
  }

  .features__text {
    max-width: 300px;
  }

  .features__item:nth-child(3n+2) {
    transform: unset;
  }

  .features__item:hover:nth-child(3n+2) {
    transform: scale(110%);
    transition: all .3s ease-in-out;
  }

  .features__item:nth-child(5) {
    padding-top: 132px;
  }
}