.contacts {
  padding-top: 51px;
  padding-bottom: 21px;
  position: relative;
  background-image: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 46px;
  text-align: center;
}

.contacts__wrapper {
  display: flex;
  margin-bottom: 145px;
  justify-content: space-between;
}

.contacts__body {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.contacts__info {
  max-width: 380px;
  margin-bottom: 37px;
}

.contacts__location {
  white-space: pre-line;
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  gap: 29px;
}

.contacts__location:before {
  content: "";
  background-image: url('svg/location.svg');
  background-size: contain;
  height: 32px;
  width: 32px;
}

.contacts__phone {
  text-decoration: none;
  color: inherit;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  gap: 28px;
}

.contacts__phone:before {
  content: "";
  background-image: url('svg/phone.svg');
  background-size: contain;
  height: 32px;
  width: 32px;
}

.contacts__email {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 29px;
}

.contacts__email:before {
  content: "";
  background-image: url('svg/mail.svg');
  background-size: contain;
  height: 32px;
  width: 32px;
  left: -1px;
}

.map {
  margin-left: auto;
  height: 274px;
}

.social__list {
  display: flex;
  gap: 26px;
}

.social__link {
  display: block;
  color: var(--color-text-main);
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
}

.social__link:hover {
  color: var(--color-btn-hover);
  transition: all .3s ease-in-out;
}

.social__link:active {
  color: var(--color-purple);
  border-color: transparent;
  transition: all .3s ease-in-out;
}

.social__link:focus {
  border-color: var(--color-purple);
  transition: all .3s ease-in-out;
}

.copyright__wrapper {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__author {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.copyright__email {
  text-align: end;
}

.contacts__phone:hover,
.contacts__email:hover,
.copyright__email:hover {
  color: var(--color-dark-purple);
  transition: all .3s ease-in-out;
}

@media (max-width: 1200px) {
  .contacts {
    padding-top: 35px;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .contacts__wrapper {
    margin-bottom: 94px;
  }

  .contacts__body {
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__info {
    margin-bottom: 39px;
  }

  .contacts__location,
  .contacts__phone,
  .contacts__email {
    gap: 13px;
    position: relative;
  }

  .contacts__location {
    margin-bottom: 44px;
  }

  .contacts__location:before,
  .contacts__phone:before,
  .contacts__email:before {
    height: 26px;
    width: 26px;
  }

  .social__link {
    height: 40px;
    width: 40px;
  }

  .map {
    width: 542px;
  }

  .map__img {
    object-fit: cover;
    height: 274px;
  }
}

@media (max-width: 860px) {
  .contacts {
    padding-top: 35px;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 75px;
  }

  .contacts__body {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .contacts__info {
    margin-bottom: 27px;
  }

  .contacts__location,
  .contacts__phone,
  .contacts__email {
    display: block;
  }

  .contacts__location:before,
  .contacts__phone:before,
  .contacts__email:before {
    position: absolute;
  }

  .contacts__location {
    margin-bottom: 32px;
  }

  .contacts__location:before {
    left: 41px;
    bottom: 31px;
  }

  .contacts__phone {
    margin-bottom: 27px;
  }

  .contacts__phone:before {
    left: -5px;
    top: 1px;
  }

  .contacts__email:before {
    left: -39px;
    top: 1px;
  }

  .social__list {
    justify-content: center;
  }

  .map {
    width: 688px;
    height: 337px;
    margin-left: 0;
  }

  .map__img {
    width: 688px;
    height: 337px;
  }
}