.contacts {
  padding-bottom: 10px;
  position: relative;
  background-image: url('img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 156px;
}

.contacts__body {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.contacts__info {
  max-width: 380px;
  margin-bottom: 35px;
}

.contacts__location {
  white-space: pre-line;
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.contacts__location:before {
  content: "";
  background-image: url('svg/location.svg');
  height: 32px;
  width: 32px;
}

.contacts__phone {
  text-decoration: none;
  color: inherit;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.contacts__phone:before {
  content: "";
  background-image: url('svg/phone.svg');
  height: 32px;
  width: 32px;
}

.contacts__email {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 34px;
}

.contacts__email:before {
  content: "";
  background-image: url('svg/mail.svg');
  height: 32px;
  width: 32px;
}

.map {
  margin-left: auto;
  max-height: 274px;
}

.social__list {
  display: flex;
  gap: 28px;
}

.social__link {
  display: block;
  color: #fff;
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
}

.social__link:hover {
  color: #EADEED;
}

.social__link:active {
  color: #CD06FF;
  border-color: transparent;
}

.social__link:focus {
  border-color: #CD06FF;
}

.copyright__wrapper {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__author {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts__phone:hover,
.contacts__email:hover,
.copyright__email:hover {
  color: #6C0287;
}