.reserve {
  background: #440F51;
  padding-top: 80px;
  padding-bottom: 79px;
}

.reserve__form {
  margin-bottom: 40px;
}

.reserve__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 46px;
}

.reserve__legend {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.reserve__fieldset {
  display: flex;
  margin-bottom: 60px;
}

.halls {
  justify-content: space-between;
}

.halls__label {
  padding: 4px 15px;
  background: var(--color-text-main);
  border-radius: 8px;
  color: var(--color-text-black);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  border: 3px solid transparent;
  min-width: 250px;
  min-height: 55px;
}

.halls__label:hover {
  background-color: var(--color-btn-hover);
  border-color: var(--color-deep-purple);
  transition: all .3s ease-in-out;
}

.halls__label:active {
  background-color: var(--color-dark-purple);
  border-color: var(--color-text-main);
  color: var(--color-text-main);
  transition: all .3s ease-in-out;
}

.halls__label:focus {
  background-color: var(--color-text-main);
  border-color: var(--color-deep-purple);
  transition: all .3s ease-in-out;
}

.halls__radio {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.reserve__fieldset_constructor {
  margin-bottom: 60px;
}

.console-set {
  padding-left: 100px;
  margin-right: 171px;
}

.boardgame-set {
  margin-right: 185px;
}

.console-set,
.boardgame-set,
.extra-set {
  flex-direction: column;
  gap: 19px;
  margin-bottom: 0;
}

.console-set__legend,
.boardgame-set__legend,
.extra-set__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.console-set__label,
.boardgame-set__label,
.extra-set__label {
  display: flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  align-items: center;
}

.console-set__radio {
  width: 28px;
  height: 28px;
  background-color: var(--color-text-main);
  margin-right: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}

.boardgame-set__checkbox,
.extra-set__checkbox {
  width: 26px;
  height: 26px;
  background-color: var(--color-text-main);
  margin-right: 12px;
}

.console-set__radio:focus,
.boardgame-set__checkbox:focus,
.extra-set__checkbox:focus {
  outline: 1px solid var(--color-purple);
  outline-offset: 3px;
  transition: all .3s ease-in-out;
}

.contacts-set {
  display: flex;
  max-width: 980px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

.reserve__wrapper-date {
  display: flex;
  flex-basis: 300px;
  max-width: 300px;
  flex-wrap: wrap;
  gap: 36px 32px;
  align-self: flex-end;
}

.contacts-set__legend {
  margin-bottom: 38px;
}

.contacts-set__label {
  position: relative;
}

.contacts-set__input,
.contacts-set__select {
  height: 52px;
  border: none;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-deep-black);
  border: 2px solid transparent;
}

.contacts-set__input_date,
.contacts-set__input_time {
  max-width: 134px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-deep-black);
}

.contacts-set__input:focus,
.contacts-set__select:focus {
  border-color: var(--color-purple);
  transition: all .3s ease-in-out;
}

.contacts-set__select {
  display: flex;
  align-self: flex-end;
  min-width: 300px;
  padding: 10px 20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contacts-set__label_date:before,
.contacts-set__label_time:before,
.contacts-set__label_select:before {
  content: "";
  position: absolute;
  background-image: url(img/svg/arrow.svg);
  background-repeat: no-repeat;
  top: 21px;
  right: 26px;
  width: 21px;
  height: 15px;
}

.reserve__wrapper-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 14px;
}

.contacts-set__label {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  flex-direction: column;
}

.contacts-set__input_text {
  width: 280px;
  margin-top: 5px;
}

.contacts-set__input_phone,
.contacts-set__input_email {
  width: 300px;
  margin-top: 6px;
}

.reserve__wrapper-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 14px;
}

.reserve__wrapper-btn {
  width: 980px;
  margin: 0 auto;
}

.reserve__btn {
  display: block;
  margin-left: auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-dark-purple);
  background: var(--color-text-main);
  border-radius: 10px;
  width: 300px;
  height: 60px;
  border: none;
  border: 3px solid transparent;
}

.reserve__btn:hover {
  background-color: var(--color-btn-hover);
  border-color: var(--color-dark-purple);
  transition: all .3s ease-in-out;
}

.reserve__btn:active {
  background-color: var(--color-btn-hover);
  transition: all .3s ease-in-out;
}

.reserve__btn:focus {
  background-color: var(--color-text-main);
  border-color: var(--color-dark-purple);
  transition: all .3s ease-in-out;
}