.about {
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 46px;
  text-align: center;
}

.about__wrapper {
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.about__images-body {
  width: 600px;
  height: 596px;
  background-image: url('img/about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content-body {
  display: flex;
  max-width: 500px;
  flex-direction: column;
}

.about__description {
  white-space: pre-line;
  font-size: 20px;
  line-height: 28px;
  max-height: 222px;
}

.about__description:last-of-type {
  margin-bottom: 57px;
}

.quote_hidden {
  display: none;
}

.quote__text {
  position: relative;
  padding-left: 32px;
  white-space: pre-line;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 28px;
}

.quote__text:before {
  content: "“ ";
  position: absolute;
  top: -10px;
  left: 0;
  color: #6C0287;
  font-weight: 900;
  font-size: inherit;
  line-height: inherit;
}

.quote__text:after {
  content: " ”";
  color: #6C0287;
  font-weight: 900;
  font-size: inherit;
  line-height: inherit;
}

.quote__boss {
  display: flex;
  align-items: center;
  max-height: 84px;
  width: 500px;
  padding-left: 111px;
}

.quote__img {
  margin-right: 30px;
}

.quote__description {
  width: 260px;
}

.quote__description_hidden {
  display: none;
}

@media (max-width: 1200px) {
  .about {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about__wrapper {
    gap: 40px;
  }

  .about__images-body {
    width: 420px;
    height: 417px;
  }

  .about__content-body {
    max-width: 444px;
  }

  .about__description {
    font-size: 18px;
    line-height: 24px;
  }

  .about__description:last-of-type {
    margin-bottom: 40px;
  }

  .quote__text,
  .quote__text:before,
  .quote__text:after {
    font-size: 30px;
    line-height: 36px;
    white-space: unset;
  }

  .quote__boss {
    padding-left: 114px;
    height: 78px;
  }

  .quote__text {
    padding-left: 25px;
    max-width: 419px;
    margin-bottom: 18px;
  }

  .quote__img {
    height: 70px;
    width: 70px;
    margin-right: 36px;
    padding-top: 3px;
  }

  .quote__description {
    font-size: 18px;
    line-height: 26px;
    width: 225px;
  }
}

@media (max-width: 860px) {
  .about {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
  .about__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about__wrapper {
    gap: 28px;
    margin-bottom: 41px;
  }

  .about__images-body {
    width: 382px;
    height: 380px;
  }

  .about__content-body {
    max-width: 278px;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
    white-space: unset;
  }

  .about__description:first-of-type {
    padding-top: 67px;
    margin-bottom: 22px;
  }

  .quote {
    display: none;
  }

  .quote_hidden {
    display: block;
  }

  .quote__text {
    font-size: 32px;
    line-height: 36px;
    max-width: 666px;
    padding-left: 22px;
    margin-bottom: 22px;
  }

  .quote__boss {
    padding-left: 0;
    margin-left: auto;
    justify-content: flex-end;
  }

  .quote__img {
    margin-right: 25px;
  }
}

@media (max-width: 540px) {
  .about {
    padding-top: 30px;
    padding-bottom: 16px;
  }

  .about__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about__images-body {
    order: 1;
  }

  .about__wrapper {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }

  .about__content-body {
    max-width: 263px;
  }

  .about__description {
    font-size: 12px;
    line-height: 16px;
  }

  .about__description:first-of-type {
    padding-top: 0;
    margin-bottom: 16px;
  }

  .about__description:last-of-type {
    margin-bottom: 0;
  }

  .about__images-body {
    width: 280px;
    height: 280px;
  }

  .quote__text {
    font-size: 18px;
    line-height: 26px;
    padding-left: 15px;
    margin-bottom: 7px;
  }

  .quote__text:before {
    top: -8px;
    left: 1px;
    font-size: inherit;
    line-height: inherit;
  }
  
  .quote__text:after {
    font-size: inherit;
    line-height: inherit;
  }

  .quote__boss {
    padding-left: 0;
    margin-left: 0;
    justify-content: flex-start;
    width: 280px;
    height: 56px;
  }

  .quote__description {
    font-size: 12px;
    line-height: 16px;
    width: 200px;
    display: none;
  }

  .quote__description_hidden {
    display: block;
    white-space: pre-line;
    padding-top: 5px;
  }

  .quote__img {
    margin-right: 10px;
    width: 56px;
    height: 56px;
  }
}